doctype html
html(lang='en')
  include ../../common/head.pug

  if user 
    +head("Teacher Homepage")
  else 
    +head("Please login")

  link(rel="stylesheet" href="/stylesheets/portal/settings.css")
  script(src="/javascripts/settings/settings.js")
  script(src="/javascripts/settings/password.js")
  header
    include ../../common/navbar.pug
    +navbar(user)

  body
    div.content 
      if user
          .row
            .col-sm-3
              h3.class Settings
            .col-sm-9
              table
                th.button
                  button#backButton(onclick='backButton("' + settingsURL + '")')
                    i.arrow.left
                th.title 
                  h3.class Change Password
          .row#settings
            .col-sm-3
              .row
                ul.class.list-group#settingsBar
                  a.list-group-item.list-group-item-action(href= settingsURL + "/account").active Manage Account  
                  a.list-group-item.list-group-item-action(href= settingsURL + "/archiveManage") Archive Course(s)
                  a.list-group-item.list-group-item-action(href= settingsURL + "/archiveView") View Archived Courses
            .col-sm-9
              if (success && success.message)
                .alert.alert-success(role='alert', style={'width': '50%'})
                  | #{success.message}
              else if (errors && errors.message)
                .alert.alert-danger(role='alert', style={'width': '50%'})
                  | #{errors.message}
              .row
                form(action= settingsURL + '/update/password', method='POST', id='updatePassword')
                    .row
                      .col-xs-12.col-xs-12.col-sm-6
                        label.small.mb-1.mt-3 Current Password:
                        if (formData && formData.currentPassword)
                          if (errors && errors.currentPassword)
                            input(placeholder='Current password ', required=true, name='currentPassword', type='password', onInput='fieldInput()', id='inputCurrentPassword', value=formData.currentPassword , style={'border-color': 'red'}).form-control
                            p(id='currentPassword Error').small.text-danger #{errors.currentPassword}
                          else 
                            input(placeholder='Current password ', required=true, name='currentPassword', type='password', onInput='fieldInput()', id='inputCurrentPassword', value=formData.currentPassword ).form-control
                            p(id='currentPassword Error').small.text-danger 
                        else 
                          if (errors && errors.currentPassword)
                            input(placeholder='Current password ', required=true, name='currentPassword', type='password', onInput='fieldInput()', id='inputCurrentPassword', style={'border-color': 'red'}).form-control
                            p(id='currentPassword Error').small.text-danger #{errors.currentPassword}
                          else 
                            input(placeholder='Current password ', required=true, name='currentPassword', type='password', onInput='fieldInput()', id='inputCurrentPassword').form-control
                            p(id='currentPassword Error').small.text-danger
                    .row
                      .col-xs-12.col-xs-12.col-sm-6
                        label.small.mb-1.mt-3 New Password:
                        if (formData && formData.newPassword)
                          if (errors && errors.newPassword)
                            input(placeholder='New password',required=true, name='newPassword', type='password', onInput='fieldInput()', id='inputNewPassword', value=formData.newPassword, style={'border-color': 'red'}).form-control
                            p(id='newPasswordError').small.text-danger #{errors.newPassword} 
                          else 
                            input(placeholder='New password',required=true, name='newPassword', type='password', onInput='fieldInput()', id='inputNewPassword', value=formData.newPassword).form-control
                            p(id='newPasswordError').small.text-info Requires 1 lower, 1 upper, 1 digit, 1 special character, and must be at least 6 characters long
                        else 
                          if (errors && errors.newPassword)
                            input(placeholder='New password',required=true, name='newPassword', type='password', onInput='fieldInput()', id='inputNewPassword', style={'border-color': 'red'}).form-control
                            p(id='newPasswordError').small.text-danger #{errors.newPassword} 
                          else 
                            input(placeholder='New password',required=true, name='newPassword', type='password', onInput='fieldInput()', id='inputNewPassword').form-control
                            p(id='newPasswordError').small.text-info Requires 1 lower, 1 upper, 1 digit, 1 special character, and must be at least 6 characters long

                      .col-xs-12.col-xs-12.col-sm-6
                        label.small.mb-1.mt-3 Confirm New Password:
                        if (formData && formData.confirmNewPassword)
                          if (errors && errors.confirmNewPassword)
                            input(placeholder='Confirm new password',required=true, name='confirmNewPassword', type='password', onInput='fieldInput()', id='inputConfirmNewPassword', value=formData.confirmNewPassword, style={'border-color': 'red'}).form-control
                            p(id='confirmNewPasswordError').small.text-danger #{errors.confirmNewPassword} 
                          else 
                            input(placeholder='Confirm new password',required=true, name='confirmNewPassword', type='password', onInput='fieldInput()', id='inputConfirmNewPassword', value=formData.confirmNewPassword).form-control
                            p(id='confirmNewPasswordError').small.text-danger 
                        else 
                          if (errors && errors.confirmNewPassword)
                            input(placeholder='Confirm new password',required=true, name='confirmNewPassword', type='password', onInput='fieldInput()', id='inputConfirmNewPassword', style={'border-color': 'red'}).form-control
                            p(id='confirmNewPasswordError').small.text-danger #{errors.confirmNewPassword} 
                          else 
                            input(placeholder='Confirm new password',required=true, name='confirmNewPassword', type='password', onInput='fieldInput()', id='inputConfirmNewPassword').form-control
                            p(id='confirmNewPasswordError').small.text-danger 
                      
                      .col-xs-12.col-xs-12.col-sm-12
                        button.mt-3.btn.btn-primary(type='submit', style={'width':'100%'}) Update password
      else 
          .row
              p please login

    include ../../common/footer.pug
    +footer()