doctype html
html(lang='en')
  include ../common/head.pug

  if otherNotes 
    +head("Other Files Homepage")
  else 
    +head("Other Files Not Found")

  link(rel="stylesheet" href="/stylesheets/portal/otherNotes.css")
  script(src="/javascripts/modifyHTML.js")
  script(src="/javascripts/submitCustomForm.js")

  header
    include ../common/navbar.pug
    +navbar(user)

  body
    div.content
      if user
        if otherNotes 
            .row
              h4 Other Files for #{otherNotes.fullCourseName}
            .row
              form(action="/user/removeotherNote", method="POST", id="deleteotherNoteForm")
                table(style='width:100%', border='1')
                  tr
                    th File Name
                    th Due Date
                  for otherNote in otherNotes.otherNotes
                    tr
                      td 
                        a(href= currentURL + "/id/" + otherNote.fileID + "/files/" + otherNote.noteFile) #{otherNote.noteName} 
                      td #{otherNote.noteDate}
                      td 
                        button.btn.btn-danger(type="button" onclick='deleteOtherNote("'+ otherNote._id + '", ' + '"' + otherNote.fileID + '", ' + '"' + otherNote.noteFile + '"' + ')') -
                input(type='hidden', name='course', value=otherNotes.course)
                input(type='hidden', name='courseFullName', value=otherNotes.fullCourseName)
                input(type='hidden', id="otherNoteIDPlaceholder")
                input(type='hidden', id="otherNoteFileIDPlaceholder")
                input(type='hidden', id="otherNoteFilenamePlaceholder")

            .row#addOtherNoteButton
              button.btn-primary.btn-sm(onclick='addOtherNote("'+ otherNotes.course + '", ' + '"' + otherNotes.fullCourseName + '"' + ')') +
            
            //.row
              form(action='/user/addOtherNote' method='POST' enctype="multipart/form-data")
                  div.row
                      .col-sm-3
                          label.small.mb-1.mt-3 otherNote Name:
                              input(placeholder='Name', required=true, name='name', type='text', value='').form-control    
                      .col-sm-3
                          label.small.mb-1.mt-3 Due Date:
                              input(placeholder='Due Date', required=true, name='date', type='text', value='').form-control 
                      .col-sm-3
                          label.small.mb-1.mt-3 Upload File:
                              input(required=true, name='uploadfile', type='file')
                      input(type='hidden', name='course', value=otherNotes.course)
                      input(type='hidden', name='courseFullName', value=otherNotes.fullCourseName)
                      .col-sm-3.text-center
                          button.btn-primary.btn-sm(type='submit') add otherNote
                         
      else 
          .row
              p please login
      
  include ../common/footer.pug
  +footer()